<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @shizit.id %>
</p>

<p>
  <b>Name:</b>
  <%= @shizit.name %>
</p>

<p>
  <b>Start date:</b>
  <%= @shizit.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @shizit.end_date %>
</p>

<p>
  <b>Street line1:</b>
  <%= @shizit.street_line1 %>
</p>

<p>
  <b>Street line2:</b>
  <%= @shizit.street_line2 %>
</p>

<p>
  <b>City:</b>
  <%= @shizit.city %>
</p>

<p>
  <b>State:</b>
  <%= @shizit.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @shizit.zipcode %>
</p>

<p>
  <b>Description:</b>
  <%= @shizit.description %>
</p>

<p>
  <b>Promotion:</b>
  <%= @shizit.promotion %>
</p>


<%= link_to 'Edit', edit_shizit_path(@shizit) %> |
<%= link_to 'Back', shizits_path %>
